<!DOCTYPE html>
<html>
  <head>
    <title>bkbuddy - Buildkite Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <!-- not currently using the alert and notice, if needed they will need to be passed into react layout -->
    <!-- <p class="notice"><%#= notice %></p>-->
    <!-- <p class="alert"><%#= alert %></p>-->
    <div>
      <% unless @user %>
        <h1><%= link_to "Sign In", user_oktaoauth_omniauth_authorize_path %></h1>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
