<!DOCTYPE html>
<html>
  <head>
    <title>bkbuddy - Buildkite Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <% if @user %>
        <span><%= @user.fetch(:name) %></span>
        <span><%= link_to "logout", ENV['OKTA_URL'] + "/login/signout?fromURI=" + request.base_url + "/logout" %></span>
      <% else %>
        <span><%= link_to "Sign In", user_oktaoauth_omniauth_authorize_path %></span>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
